<div class='center ga-eventhead'>
  <h1>Events</h1>
  <a href='https://github.com/PyJaipur/PyJaipur/issues/new?assignees=&labels=event&template=event.md&title='>Add a new event</a>
  <noscript>To see only upcoming events please turn on javascript.</noscript>
  <br>
  <!--<a href='/all_events.html?AllEvents=yes'>Show all past events</a>-->
</div>
<div class='alertstream hidden ga-event'>
  <!--
    Each event in it's own div.
    Events will be sorted by their time tag.
    Events in the past will be removed via JS and template logic.
    pyjaipur.org#call will redirect to any live event's call link if it is jitsi or meet.google.com
  -->
  <!-- announce-new-event-after-this -->

  {% for event in events %}
    {% if show_all or plugins.in_future(event.start) %}
      <div class='alert'>
        <strong>{{ event.title }}</strong><br>
        <time>{{ event.start }}</time><br>
        {% for badge in event.badges %}
          <a class='badge' target='_blank' href='{{ badge.href }}'>{{ badge.text }}</a>
          {% if badge.br_after %}<br>{% endif %}
        {% endfor %}
        <hr>
        {{ event.desc }}
      </div>
    {% endif %}
  {% endfor %}
  {% if show_all %}
    {% include '.event_archive.html' %}
  {% endif %}
</div>
<!-- Place your events above this code please.  This script removes old events
  in the browser so that we don't have to manually clean them up everyday -->
<script>
  function cleanup_alerts(){
    if (window.location.href.indexOf('AllEvents') > -1){
      return}
    var alerts = document.querySelectorAll('.alert');
    var now = Date.now()
    var hours = 60 * 60 * 1000;
    var redirect_to_call = false;
    var found_live_call = false;
    var allowed = ['meet.jit.si', 'meet.google.com', 'youtube.com', 'airmeet.com', 'jitsi.pyjaipur.org'];
    var tags = ['#live', '#call', '#event'];
    for(var q=0; q<tags.length; ++q){
      if (window.location.href.indexOf(tags[q]) > -1){
        redirect_to_call = true;
      }
    }
    for (var i = 0; i < alerts.length; ++i){
      var t = alerts[i].querySelector('time');
      var t = Date.parse(t.textContent);
      if ( (now > t) && ((now - t) < 1 * hours)){
          alerts[i].classList.add('live')
          // If the url contains #call, redirect to the live call
          if(redirect_to_call === true){
            var links=alerts[i].getElementsByTagName('a');
            for (var k=0; k< links.length; ++k){
              var href = links[k].getAttribute('href');
              for( var q=0; q < allowed.length; ++q){
                if (href.indexOf(allowed[q]) > -1){
                  found_live_call = true;
                  window.location.href = href;
                }
              }
              }
            }
          }
      }
      if ((now - t) > 1 * hours){
        alerts[i].remove();
      }
    }
  if (redirect_to_call === true && found_live_call === false){
      alert("There is no live call available. Please check the event schedule.")
    }
  }
  function order_alerts(){
    var alerts = document.querySelectorAll('.alert');
    var final_order = [];
    for (var i = 0; i < alerts.length; ++i){
      var t = alerts[i].querySelector('time');
      var t = Date.parse(t.textContent);
      final_order.push({node: alerts[i].cloneNode(true), start_time: t});
      alerts[i].parentNode.removeChild(alerts[i]);
    }
    final_order.sort(function (a, b) { return a.start_time - b.start_time})
    var alert_stream = document.querySelector('.alertstream');
    for (var i = 0; i < alerts.length; ++i){
      alert_stream.appendChild(final_order[i].node);
    }
    console.log(final_order)
  }
  order_alerts()
  cleanup_alerts()
  document.querySelector('.alertstream').classList.remove('hidden')
</script>
<style>
.alert .badge{
  text-decoration: none;
  border: 1px solid black;
  color: black;
  background-color: white;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
  font-size: 0.8em;
}
.alert {
  padding:5px;
  border-radius: 5px;
  padding-bottom:5px;
  margin-top: 10px;
  border: 1px solid black;
}
@media only screen and (min-width: 768px) {
  .alert {
    padding:5px;
    border-radius: 5px 0px 0px 0px;
    padding-bottom:5px;
    margin-top: 10px;
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-bottom: 0px;
    border-right: 0px;
  }
  .alertstream {
    background-color: var(--bg);
    padding: 10px;
    padding-top:0px;
    width: 75%;
    margin:20px auto;
  }
}
.live {
  background-color: lightgreen;
}
</style>
