{% extends '.base.html' %}
{% block head %}
<style>
.center{
  text-align: center;
}
.left {text-align: left;}
</style>
{% endblock %}
{% block content %}

<div class='center'>
  <h1><img src='{{ baseurl }}/images/logo-white.png'></h1>
  <p>
  PyJaipur is a non-profit local python user group/community in <a href='https://goo.gl/maps/eZEFGimUg7Hg7kMT6' target='_blank'>Jaipur, Rajasthan</a>.
  </p>

  <p>
  If you're interested in fundamental technology, or if people who pursue learning as a goal are your kind of people then come attend a meetup!
  </p>
  <p>Our next <a href='https://www.meetup.com/PyJaipur/events/jmsdqrybcgbhc/'>Monthly Meetup is on  25 Apr 2020</a>!</p>
  <hr>
  <p>
  <ul class='left'>
    <li>All activities and actions are always mentioned on this site.</li>
    <li>Please follow the <a href='https://www.python.org/psf/conduct/'>Code of Conduct</a> at all times.</li>
    <li>We propose talks and workshops in <a href='https://github.com/PyJaipur/PyJaipur/'>our github repo</a></li>
    <li>Our meetups are announced via <a href='https://www.meetup.com/PyJaipur/'>meetup.com</a></li>
    <li>You can find some blogs at <a href='https://medium.com/pyjaipur-publications'>PyJaipur publications</a></li>
    <li><a href='https://t.me/pyjaipur'>Our telegram group</a> is where we generally chat.</li>
    <li><a href='https://t.me/joinchat/Egpy4xLU947zVMila__jnw'>The links group</a> is used for promotional and other links.</li>
  </ul>
  </p>
</div>
{% include '.events.html' %}
{% endblock %}
