{% extends '.base.html' %}
{% block content %}
<h1>Internships and jobs</h1>
<p>If you have an internship or job opportunity at your company or know about some other good place, please comment with the following information:</p>

<ul>
  <li > Position title</li>
  <li > Remote / Physical location</li>
  <li > Duration</li>
  <li > Stipend amount</li>
  <li > Last date to apply</li>
</ul>

<p>The top comment contains currently known openings and is regularly maintained.</p>
<hr>
<script src="https://utteranc.es/client.js"
        repo="PyJaipur/PyJaipur"
        issue-number="26"
        theme="github-light"
        crossorigin="anonymous"
        async>
</script>
{% endblock %}
