{% extends '.base.html' %}
{% block content %}
<h1> Old Meetups</h1>
<div>
  <hr>
  <h2>PyJaipur Meetup #12</h2>
  <p> 9:00 am June 8th, 2019 to 3:00 pm June 9th, 2019 (Malaviya National Institute of Technology, Jaipur) </p>
  <p>
  Hey folks,<br>
  We are pleased to announce that we PyJaipur are the community partner of InnovateToInspire 2019 - Hackathon.<br><br>

  After travelling to 3 cities throughout India this hackathon is finally coming to our city Jaipur on 8th - 9th June 2019.<br><br>

  There is No Registration Fee for the Hackathon.

  The thought behind these Hackathons is to energize the ever-growing innovation eco-system and invite ideas and startups working in the domain of data analytics and look for solutions that can potentially transform the energy efficiency sector.<br><br>

  The main objective of #InnovateToINSPIRE Hackathon is to identify top workable business solutions around the data being captured through EESL's programmes like 'National E-Mobility Programme', ' Smart Meter National Programme' and 'Street Lighting National Programme'.<br><br>

  You can win Business opportunities with EESL- a JV of PSUs under Min. of Power, in association with THE WORLD BANK.<br><br>

  CRUNCH NUMBERS AND BUILD BUSINESS CASES.<br><br>

  PRIZES and REWARDS :<br><br>
  The cash prize of ₹50,000.<br><br>
  Cloud credits to top 10 teams worth USD 150.<br><br>
  Certificate of participation to every participant.<br><br>

  Register <a href = "https://www.incubateind.com/inspirehackathon/" target = '_blank'>here</a>
  </p>
</div>

<div>
  <h2>PyJaipur Meetup #11</h2>
  <p>11:00 am - 03:00 pm, March 31st, 2019 (MTX Group Inc. , Jaipur)</p>
  <p>This meetup is going to be a joint service of PyJaipur community and Docker community.
     This time we are going to celebrate Docker's 6th birthday accompanied by the basic introduction of Docker, followed by the discussion on the significance of Strong Work Ethic, Communication Skills, Creative Problem Solving, Time Management, Team Work and Leadership (In short Soft Skills).
     This is going to be fun and a combination of both technical and non-technical discussions.</p><br><br>

  <p>The tentative schedule is as follows:</p>
  <ul>
    <li>11 A.M. - Check-in / Registrations</li>
    <li>11:15 A.M. - Welcome Slides</li>
    <li>11:30 A.M. - MTX Introduction</li>
    <li>11:45 A.M. - Show and Tell by 5+ Speakers</li>
    <li>1:00 PM - Cake and Docker Birthday Fun / Plausible Lunch</li>
    <li>1:45 PM - Session on Soft Skills</li>
    <li>3:00 PM - Wrap-up</li>
</div>
<div>
  <h2>PyJaipur Meetup #10</h2>
  <p>10:30 am - 02:00 pm, February 10th, 2019 (Apex Institute of Management and Science College, Jaipur)</p>
  <p>Web scraping is a term used to describe the use of a program or algorithm to extract and process large amounts of data from the web. Whether you are a data scientist, engineer, or anybody who analyzes large amounts of datasets,
    the ability to scrape data from the web is a useful skill to have.<br><br>
    GSoC organizations will be announced on 27th Feb and this is the peak time to approach organizations for selection in GSoC 2019 Selections.Google Summer of Code is a program to promote open-source development. It is organized by
    Google every summer since the last decade. It runs for 12 weeks from May to August,
    students contribute to open-source repositories and get paid by Google in return. It's a great way to spend a summer vacation.</p>
  <p>
  <h3>Speakers</h3>
  <ul>
    <li><a href="https://www.linkedin.com/in/yogendrasinsinwar/" >Yogendra Singh, Co-Founder- Forsk Labs, Ex- Sr Qualcomm Engineer</a></li>
    <li><a href="https://www.linkedin.com/in/prashant0598/" >Prashant Nigam, Google Code-In Mentor 2017, 2018</a></li>
  </ul>
  <p>
</div>
<div>
  <h2>PyJaipur Meetup #9</h2>
  <p>10:30 am - 02:00 pm, December 16th, 2018 (Celebal, Jaipur)</p>
  <p>Big data is a term used to refer to data sets that are too large or complex for traditional data-processing application software to adequately deal with. Let's dive into it with practicing a Business Analysis use case and Supply Chain Forecasting.</p>
  <p>
  <h3>Speakers</h3>
  <ul>
    <li ><a href="https://www.linkedin.com/in/anupamgupta1/">Anupam Gupta</a></li>
    <li ><a href="https://www.linkedin.com/in/bhatnagaranshul/">Anshul Bhatnagar</a></li>
  </ul>
  <p>
</div>
<div>
  <h2>PyJaipur Meetup #8</h2>
  <p>09:30 am - 03:30 pm, October 28th, 2018 (Axis India Machine Learning)</p>
  <p>This meetup revolves around Mathematical tools involved in learning of AI and Machine Learning. We Proudly announce Axis India Machine learning, Jaipur as our event Partner</p>
  <p>
  <h3>Speakers</h3>
  <ul>
    <li ><a href="https://www.linkedin.com/in/jaskirat-singh-93a43041/">Jaskirat Singh</a></li>
  </ul>
  <p>
</div>
<div>
  <h2>PyJaipur Meetup #7</h2>
  <p>08:00 am, November 3rd - 10:00 am, November 4th, 2018 (LNMIIT, Jaipur)</p>
  <p>It is our pleasure to collaborate with LNMHacks 3.0 team as a community partner, and promote development through this 24 hours based hackathon on the 3rd, and 4th of November 2018.We invite all developers and hackathon enthusiasts to participate in an interesting and engaging hackathon.</p>
</div>
<div>
  <h2>PyJaipur Meetup #6</h2>
  <p>9:30 am - 03:30 pm, October 13, 2018 (Vivekanand Institute of Technology, Jaipur)</p>
  <p>This meetup revolves around Getting Started with Data Science. It's a great occasion for those who want to get started with Data Science, join us at our Bootcamp event. Whether you are a college student who wants to learn Python for future opportunities or you are already in a job with ambitions to scale-up knowledge in this domain..</p>
  <p>
  <h3>Speakers</h3>
  <ul>
    <li >Vishnu Singh</li>
    <li ><a href="https://github.com/heyAyushh">Ayush Chauhan</a></li>
  </ul>
  <p>
</div>
<div>
  <h2>PyJaipur Meetup #5</h2>
  <p>09:30 am - 02:00 pm, October 7th, 2018 (JECRC University, Jaipur)</p>
  <p>Make your first contribution on open source and win free T-shirts, Stickers and lot more from Digital Ocean.<br>Dive deep into the world of Open Source and prepare yourself for tougher challenges like GSoC, GCI, Linux Internship etc.</p>
</div>
<div>
  <h2>PyJaipur Meetup #4</h2>
  <p>10:00 am - 02:00 pm, September 16, 2018 (Westeros Cafe, Jaipur)</p>
  <p>This meetup revolves around Getting Started with Data Science and Git. It's a great occasion for those who want to get started with Data Science, whether you are a college student who wants to learn Python for future opportunities or you are already in a job with ambitions to scale-up knowledge in this domain.</p>
  <p>
  <h3>Speakers</h3>
  <ul>
    <li ><a href="https://www.linkedin.com/in/jaskirat-singh-93a43041/">Jaskirat Singh</a></li>
    <li ><a href="https://www.linkedin.com/in/heyayush/">Ayush Chauhan</a></li>
  </ul>
  <p>
</div>
<div>
  <h2>PyJaipur Meetup #3</h2>
  <p>10:30 am - 01:00 pm, August 19, 2018 (Westeros Cafe, Jaipur)</p>
  <p>This meetup revolves around GSoC and Open Source Contribution.<br>What is Google Summer of Code?<br>Google Summer of Code is a mentorship program that brings an opportunity for a programmer to work with an Open Source organization and be guided by mentors throughout the tenure.<br>It gives an opportunity to work on a real-world project which is being used by millions of people.</p>
  <p>
  <h3>Speakers</h3>
  <ul>
    <li ><a href="https://github.com/riyalohia">Riya Lohia</a></li>
    <li ><a href="https://github.com/vibhor98/">Vibhor Agarwal</a></li>
    <li ><a href="https://github.com/schedutron">Saurabh Chaturvedi</a></li>
  </ul>
  <p>
</div>
<div>
  <h2>PyJaipur Meetup #2</h2>
  <p>10:00 am - 01:30 pm, July 15, 2018 (Westeros Cafe, Jaipur)</p>
  <p>We have compiled some varied topic for discussion this time.<br>It is going to be a great learning opportunity for everyone, this meetup will provide you a chance to build with Python, contribute to Python and most importantly, to connect with the people who love Python, like you do.<br>
  It's a great occasion for those who want to get started with Python, whether you are a college student who wants to learn Python for future opportunities or you are already in a job with ambitions to scale-up knowledge in this domain.</p>
  <p>
  <h3>Speakers</h3>
  <ul>
    <li ><a href="https://github.com/riyalohia">Vishnu Singh</a></li>
    <li ><a href="https://github.com/heyAyushh/">Ayush Chauhan</a></li>
  </ul>
  <p>
</div>
<div>
  <h2>PyJaipur Meetup #1</h2>
  <p>10:00 am - 01:00 pm, June 17, 2018 (Westeros Cafe, Jaipur)</p>
  <p>We invite you to come for the first meetup of PyJaipur. it's a great opportunity for those who want to get started with Python, Build with Python, contribute to Python and most important to connect with the people who love Python like you do.<br>
    Whether you are a college student who wants to learn Python for future opportunities or you are already in a job who want to make use of Sunday you all are most welcome.</p>
  <p>
  <h3>Speakers</h3>
  <ul>
    <li >Kirti Bajaj</li>
    <li >Shivank Gautam</li>
  </ul>
  <p>
</div>
{% endblock %}
