{% include 'css/.theme.css' %}
body{
  font-family: sans-serif;
  font-size: 1.2em;
  background-color: var(--bg);
  color: var(--fg);
  display: grid;
  grid-template-areas:
    "mainhead"
    "main"
    "eventhead"
    "event"
    "momhead"
    "mom";
}
@media (min-width: 500px){
  body{
    font-family: sans-serif;
    font-size: 1.2em;
    background-color: var(--bg);
    color: var(--fg);
    display: grid;
    grid-template-areas:
      "momhead mainhead eventhead"
      "mom main event";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 7fr;
  }
};
.ga-mainhead {grid-area: mainhead;}
.ga-main{grid-area: main;}
.ga-momhead {grid-area: momhead;}
.ga-mom{grid-area: mom;}
.ga-eventhead {grid-area: eventhead;}
.ga-event{grid-area: event;}
a {
  color: var(--fg);
  text-decoration: underline;
}
a:hover {
  background-color: var(--bg2);
  color: var(--fg2);
}
h1,h2,h3{line-height:1.2}
.hidden{ display: none; }
.center{ text-align: center; }
.left {text-align: left;}
